@model Ts3.pl.Models.Users

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/_SharedView.cshtml";

}
<style>
    label {
        color: #428bca !important;
        text-decoration: none;
    }
</style>


<body>

    @if (!string.IsNullOrEmpty(Html.ViewBag.ErrorMsg))
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Błąd!</strong> @ViewBag.ErrorMsg
        </div>
    }

    @Html.Partial("_Registry", Model);

</body>
@Scripts.Render("~/bundles/bootstrap")