@model Ts3.pl.Models.Users

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/_SharedView.cshtml";

}
<style>
    label {
        color: #428bca !important;
        text-decoration: none;
    }
</style>
<link href="~/Content/css/customs.css" rel="stylesheet" />
<section class="content">
    <div class="container">
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-lg-8 col-md-8">
                @if (!string.IsNullOrEmpty(Html.ViewBag.ErrorMsg))
                {
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Błąd!</strong> @ViewBag.ErrorMsg
                    </div>
                }

                @{Html.RenderPartial("_Registry", Model); }


            </div>
        </div>
    </div>

</section>
